/* Keyframes */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* Base styles */
body {
    background-color: #1E1E1E;
    color: #DBDBDB;
    padding: 1.5em;
    margin: 0;
    background-size: 1.4rem 1.4rem;
    background-image:
        linear-gradient(to right, #262525 1px, transparent 1px),
        linear-gradient(to bottom, #262525 1px, transparent 1px);
    background-repeat: repeat;
}

h1, h2, h4, h5, h6, p, a, li, em {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-family: 'Noto Serif', serif;
    font-size: 1.8rem;
    letter-spacing: 0.125em;
}

h2 {
    font-size: 1.6rem;
    letter-spacing: 0.1em;
}

h3 a {
    font-family: 'Noto Serif', serif;
    font-size: 1.5rem;
    letter-spacing: 0.125em;
    font-weight: normal;
}

h4 {
    font-size: 1.4rem;
    letter-spacing: 0.1em;
}

h5 {
    font-size: 1.3rem;
    text-align: justify;
}

p {
    text-align: justify;
    font-size: 1rem;
}

li {
    font-size: 1.1rem;
}

em {
    color: #9266B7;
    font-weight: bold;
    font-style: normal;
}

a, a:visited, a:active {
    text-decoration: none;
    font-weight: bold;
    color: #9266B7;
}

a:hover {
    color: #59416A;
}

/* Footer styles */
footer {
    font-size: 0.8rem;
    line-height: 1.2;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

footer a {
    color: #9266B7;
    font-weight: bold;
}

footer a:hover {
    color: #59416A;
}

small {
    color: #777;
}

/* Media queries */
@media (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }

    #wrapper {
        padding: 1em;
    }
}

/* Elements and classes */
#wrapper {
    width: 100%;
    max-width: 45em;
    padding: 0;
    animation: fadeIn 3s;
}

#portrait {
    width: 7em;
    border-radius: 50%;
}

.nav-link {
    color: #9266B7;
    font-weight: bold;
}

.nav-link:hover, .nav-link:focus {
    color: #59416A;
    text-decoration: none;
}

#timeline {
    margin-top: 5rem;
}

/* Timeline header styles */
.timeline-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline-header h4 {
    margin-right: 1rem;
}

.year {
    color: #DBDBDB;
    font-weight: bold;
}

.section {
    color: #9266B7;
    font-weight: bold;
}

.caption {
    color: #676565;
}

/* Image styles */
.vertical-img {
    width: 60%;
}

.horizontal-img {
    width: 100%;
}

.rounded {
    border-radius: 1.5rem;
}
